<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASRFLY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASRFLY.Properties.Settings>
            <setting name="SqlServerConString" serializeAs="String">
                <value>Server=.;Database=AsrflyDB;Trusted_Connection=True;</value>
            </setting>
            <setting name="HideNotificationInterval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>كريم بلابل</value>
            </setting>
        </ASRFLY.Properties.Settings>
    </userSettings>
</configuration>